
<header id="inicio">
    <h1></h1>

<div class="container">

<div class="logotipo">
    <img src="./assets/Imagenes/logo.jpg"  class="img" alt="">
</div>

<div class="tel">
    <img src="./assets/Imagenes/Tel.jpg" class="img1" alt="">
    <p>320 853332</p>
</div>

<div class="ubicacion">
    <img src="./assets/Imagenes/ubicacion.png" class="img2" alt="ubicacion">
    <p>Calle 15 # 56 - 54 local 2 <br>Barrio Puente Aranda</p>
</div>

<div>
    <a routerLink="b"> <img src="./assets/Imagenes/home.jpg" class="img3" alt="home"></a>
</div>

<i class="fa-light fa-bars"></i>

</div>
</header>
