<p>header works! este es  mi codigo</p>
<header id="inicio">
    <h1></h1>

<div class="container">

<div class="logotipo">
    <img src="./Imagenes/logo.jpg" class="img" alt="">
</div>

<div class="tel">
    <img src="./Imagenes/Tel.jpg" class="img1" alt="">
    <p>320 853332</p>
</div>

<div class="ubicacion">
    <img src="./Imagenes/ubicacion.png" class="img2" alt="ubicacion">
    <p>Calle 15 # 56 - 54 local 2 <br>Barrio Puente Aranda</p>
</div>

<div>
    <a href="http://127.0.0.1:5500/index.html"> <img src="./Imagenes/home.jpg" class="img3" alt="home"></a>
</div>

</div>
</header>
