
<footer class="text-center">
    <h4>Siguenos en </h4>
    <div class="redes">
        <a href="https://www.facebook.com/profile.php?id=1068595142&mibextid=ZbWKwL" class="facebook" target="_blank">
            <fa-icon [icon]="iconFacebook"></fa-icon></a>
        <a href="https://twitter.com/@servitransmiSAS" class="twitter" target="_blank">
            <fa-icon [icon]="iconTwitter"></fa-icon></a>
        <a href="https://web.whatsapp.com/" class="whatsapp">
            <fa-icon [icon]="iconWhatsapp"></fa-icon></a>
    </div>
    <div class="container-fluid">
         <div class="row p-5 pb-2 bg-dark text-white">

            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3 mb-4">Servitrasmi S.A.S</p>
                <p class="text-secondary"> Nos dedicamos a la fabricación y comercialización de mangueras caucho –metal, racorreria en bronce - plástico, acoples y tuberías hechas en aluminio, bronce y metálicas para vehículos semipesados, pesados e industrial. Brindamos la mejor calidad y precios competitivos.</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h4 mb-4">Confie en nosotros y obtendra</p>
                <p class="text-secondary">Ahorro de tiempo</p>
                <p class="text-secondary" >Ahorro de dinero</p>
                <p class="text-secondary">Calidad</p>
                <p class="text-secondary">Variedad de productos</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h4 mb-4">Te ofrecemos</p>
                <p class="text-secondary" >Atencion personalizada</p>
                <p class="text-secondary">Entrega puerta a puerta</p>
                <p class="text-secondary">Entregas a tiempo</p>
                <p class="text-secondary">Diseño y fabricacion por muestra</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h4 mb-4">Direccion</p>
                <p class="text-secondary">Calle 15 # 56 - 54 local 2 <br>Barrio Puente Aranda</p>
            </div>
            <div class="col-xs-12 pt-6">
                <p class="text-white text-center">Copyright - All rights reserved © 2023</p>
             </div>

         </div>
         
    </div>
    <p>Para volver al inicio haga click</p> <a href="#inicio">aqui</a>
</footer>

