
<section class="contenedor">
  <div class="elementos">
      <div>
          <h1>mision</h1>
          <div class="parrafo">
              <p>Ser la mejor empresa en fabricacion y distribucion de mangueras,<br>
                  racoreria,acoples y tuberias automotriz e industrial en el pais, <br>
                  satisfaciendo las necesidades de nuestros clientes brindando <br>
                  un exelente nivel de calidad
              </p>
          </div>
      </div>
      <div>
          <h1>vision</h1>
          <p>
              Somos una empresa dedicada la comercialización de repuestos <br>
              en el sector automotriz e industrial, contamos con el mejor equipo humano <br>
              brindando siempre un excelente servicio en profesionales competitivos <br>
               herramientas de apoyo especializadas, diseñamos, fabricamos y <br>
                distribuimos repuestos nacionales u originales de alta calidad.
          </p>
      </div>
      <div>
          <h1>politica de calidad</h1>
          <p>
              Servitrasmi S.A.S empresa dedicada al diseño, elaboración y <br>
              comercialización de repuestos, para vehículos semipesados, pesados e <br>
              industriales, aseguramos la satisfacción de nuestros clientes trabajando <br>
              siempre con el mejor equipo humano fortaleciendo día a día nuestros servicios con calidad.
          </p>
      </div>
  </div>

</section>
