
<section class="contenedor d-flex justify-content-center">


  <div class="product-card">
      <figure class="img-product">
          <img src="assets/Imagenes/tubo.jpg">


              <div id="card">
                  <h1>producto</h1>
                  <p>Descripcion</p>
                  <img src="" alt="">
                  <span>Costo</span>
                  <p>Cantidad</p>
              </div>
          </figure>

   </div>


      <div class="product-card">
          <figure class="img-product">
              <img src="assets/Imagenes/dos.jpg">


                  <div id="card1">
                      <h1>producto</h1>
                      <p>Descripcion</p>
                      <img src="" alt="">
                      <span>Costo</span>
                      <p>Cantidad</p>
                  </div>
              </figure>

       </div>


       <div class="product-card">
          <figure class="img-product">
              <img src="assets/Imagenes/racor.jpg">


                  <div id="card2">
                      <h1>producto</h1>
                      <p>Descripcion</p>
                      <img src="" alt="">
                      <span>Costo</span>
                      <p>Cantidad</p>
                  </div>
              </figure>

       </div>


</section>
