
<section class="contenedor">


  <table>
     <caption>Productos</caption>
     <thead>
         <tr>
             <th>Tubo figurado</th>
             <th>Frenos</th>
             <th>Racores</th>
             <th>Tubo trasmi</th>
             <th>M caucho y lona</th>
             <th>Dispositivos</th>
             <th>cajas</th>
             <th>Alta precion</th>
             <th>Carburadores</th>
             <th>Cilindro pequeño</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td><img src="./assets/Imagenes/tubo.jpg" width="140px" alt=""></td>
             <td><img src="./assets/Imagenes/fabricacion.jpg" width="160px" alt=""></td>
             <td><img src="./assets/Imagenes/racores.jpg" width="150px" alt=""></td>
             <td><img src="./assets/Imagenes/uno.jpg" width="140px" alt=""></td>
             <td><img src="./assets/Imagenes/dos.jpg" width="140" alt=""></td>
             <td><img src="./assets/Imagenes/tres.jpg" width="140px" alt=""></td>
             <td><img src="./assets/Imagenes/cuatro.jpg" width="160px" alt=""></td>
             <td><img src="./assets/Imagenes/cinco.jpg" width="150px" alt=""></td>
             <td><img src="./assets/Imagenes/sies.jpg" width="140px" alt=""></td>
             <td><img src="./assets/Imagenes/siete.jpg" width="140px" alt=""></td>
         </tr>
     </tbody>
     <thead>
     <tr>
         <th>Resortes</th>
         <th>Conectores</th>
         <th>Cintas</th>
         <th>Tacos</th>
         <th>Flanches</th>
         <th>Mangueras</th>
         <th>Tubo trasmi</th>
         <th>18</th>
         <th>Racor</th>
         <th>Cilindros</th>
     </tr>
 </thead>
 <tbody>
     <tr>
         <td><img src="./assets/Imagenes/ocho.jpg" width="140px" alt=""></td>
         <td><img src="./assets/Imagenes/nueve.jpg" width="160px" alt=""></td>
         <td><img src="./assets/Imagenes/die.jpg" width="150px" alt=""></td>
         <td><img src="./assets/Imagenes/once.jpg" width="140px" alt=""></td>
         <td><img src="./assets/Imagenes/dose.jpg" width="140" alt=""></td>
         <td><img src="./assets/Imagenes/trece.jpg" width="140px" alt=""></td>
         <td><img src="./assets/Imagenes/catorce.jpg" width="160px" alt=""></td>
         <td><img src="./assets/Imagenes/quince.jpg" width="150px" alt=""></td>
         <td><img src="./assets/Imagenes/racor.jpg" width="140px" alt=""></td>
         <td><img src="./assets/Imagenes/siete.jpg" width="140px" alt=""></td>
     </tr>
  </table>



</section>
