table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

th {
  background-color: aqua;
  padding: 10px;
  text-align: left;
  font-size: 1rem;
  color: black;
}

td {
  padding: 5px;
}

td img {
  display: block;
  margin: 0 auto;
}

tbody tr {
  margin-bottom: 10px;}
