<input #buscar (keyup.enter)="search(buscar.value)" type="text" placeholder="Que desea buscar">
<button type="button" (click)="search(buscar.value)">Buscar</button>

<div *ngIf="mostrarResultados" class="resultado">
  <h3>Resultados de la búsqueda:</h3>
  <ul>
    <li *ngFor="let producto of listado">
      <h4>{{ producto.titulo }}</h4>
      <img [src]="getImagePath(producto.imagen)" alt="{{ producto.titulo }}" style="width: 100px;">
      <p>{{ producto.descripcion }}</p>
    </li>
  </ul>
</div>
